<div class="nav">
    <a class="logo">Forum</a>
    <a href="/list">List</a>
    <a href="/write">Write</a>
    <a href="/mypage">mypage</a>
    <a href="/login">login</a>
    <a href="/logout">logout</a>
</div>