<div class="nav">
    <a href="/Home">Home</a>
    <a href="/list">Forum</a> 
    <a href="/write">Write</a> 
    <a href="/mypage">mypage</a> 
    <a href="/match">game</a>

    <% if (user) { %>
        <a href="/logout">logout</a>
    <% } else { %>
        <a href="/login">login</a>
    <% } %>
</div>