<div class="nav">
    <a href="/Home">Home</a>
    <a href="/list">Forum</a> 
    <a href="/write">Write</a> 
    <a href="/mypage">mypage</a> 
    <a href="/login">login</a> 
    <a href="/logout">logout</a>
    <a href="/match">game</a>
</div>