@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Do+Hyeon&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


.sbox{
    background: grey;
    width: 100%;
}

.first-box{
    margin-top: 0px;
    height: 1500px;

}

.second-box{
    margin-top: 50px;
    height: 1500px;

}

.third-box{
    margin-top: 50px;
    height: 900px;

}

.simage{
    position: sticky;
    top: 100px;
    left: 20px;
    right: 20px;
    width: 50%;
    float: left;
    border-radius: 20px;
    overflow: hidden;
}

.text{
    margin-right: 40px;
    float: right;
    padding-top: 50px;
    text-align: center;
    padding: auto;
    width: 40%;
}

h1 {
    font-size: 2.2rem;
    margin-bottom: 200px;
    margin-top: 200px;
    font-family: "Bagel Fat One", system-ui;
    font-weight: 400;
    font-style: normal;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 50px;
    margin-top: 200px;
    font-family: "Do Hyeon", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    font-family: "Do Hyeon", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.top-box {
    padding-top: 1px;
    background-color: grey;
    height: 1300px;
    position: relative;
    color: white;
    padding: 30px;
}
.recent-posts, .site-intro, .user-feedback, .promo-banner {
    padding: 20px;
    border-radius: 8px;
    background: rgba(155, 170, 128, 0.6); /* Slightly translucent background */
}
.recent-posts ul {
    list-style-type: none;
    padding: 0;
}
.recent-posts ul li {
    margin-bottom: 10px;
}
.site-intro h2, .user-feedback, .promo-banner h2 {
    margin-bottom: 15px;
}
.user-feedback p{
    margin-bottom: 16px;
}

@media (max-width: 600px) {
    .stickybox .site-intro h2,
    .stickybox .recent-posts h2,
    .stickybox .user-feedback h2,
    .stickybox .promo-banner h2,
    .stickybox .sbox h1,
    .stickybox .sbox h3,
    .stickybox .sbox p {
        font-size: 12px; /* 폰트 사이즈 작게 */
        margin: 5px 0; /* 태그 간 간격 줄이기 */
    }

    .stickybox .site-intro p,
    .stickybox .recent-posts ul li a,
    .stickybox .user-feedback p,
    .stickybox .promo-banner p {
        font-size: 15px; /* 문단 텍스트 크기 줄이기 */
        margin: 3px 0; /* 문단 간 간격 줄이기 */
    }

    .stickybox .sbox h1 {
        font-size: 17px; /* 주요 제목 크기는 조금 더 큼 */
    }

    .stickybox .sbox h3 {
        font-size: 18px; /* 부제목 크기 */
    }

    .stickybox .sbox p {
        font-size: 20px; /* 일반 텍스트 크기 */
    }

    /* 이미지와 기타 요소 간 간격도 조정 가능 */
    .stickybox .sbox .simage img {
        max-width: 100%; /* 이미지가 화면에 맞게 크기 조정 */
    }
}