* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.nav {
    background-color: #333;
    overflow: hidden;
}

.nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav a:hover {
    background-color: #ddd;
    color: black;
}

.alt {
    position: fixed;
    padding: 30px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.alt-box{
    position: relative;
    padding: 80px;
    background-color: wheat;
    border-radius: 10px;
}

.alt .close-btn{
    position: absolute;
    top: 15px; right: 20px;
    border: none;
    background: none;
    font-size: 30px;
    transition: all 0.3s;
}
.alt .close-btn:hover {
    transform: scale(1.1);
    color: #ff0000;
}

.list-box:not(:first-child) {
    border-top: 1px dashed  #17a2b8; /* Bootstrap info 색상 */
}

/* 새로고침 버튼 */
.refresh-btn{
    font-weight: bold; /* 아이콘 굵기 조정 */
    margin-left: 12px;
}
.refresh-btn:hover {
    animation: rotate 1s infinite; /* 호버 시 애니메이션 적용 */
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*폰트 세팅*/
.bagel {
    font-family: "Bagel Fat One", system-ui;
    font-weight: 400;
    font-style: normal;
}

.hyeon {
    font-family: "Do Hyeon", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.regular {
    font-size: 30px;
}

.hidden {
    display: none;
}