<footer class="bg-success bg-gradient text-center text-lg-start text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row my-4">
      <!--Grid column-->
      <div class="col-lg-4 col-md-7 mb-5 mb-md-0">

        <div class="rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto" style="width: 150px; height: 150px;">
          <img src="https://github.com/seemsblue/imges/blob/master/qr.png?raw=true" height="100" alt=""
               loading="lazy" />
        </div>

        <p class="text-center">QR코드를 스캔해 github에서 사이트 전체 소스코드를 살펴볼 수 있습니다</p>

        <ul class="list-unstyled d-flex flex-row justify-content-center">
          <li>
            <a class="text-white px-2" href="#!">
              <i class="fab fa-facebook-square"></i>
            </a>
          </li>
          <li>
            <a class="text-white px-2" href="#!">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li>
            <a class="text-white ps-2" href="#!">
              <i class="fab fa-youtube"></i>
            </a>
          </li>
        </ul>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">기타</h5>

        <ul class="list-unstyled">
          <li class="mb-2">
            <a href="/report" class="text-white"><i class="fas fa-paw pe-3"></i>건의사항/오류제보</a>
          </li>
          <li class="mb-2">
            <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>개인정보 보호</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">Contact</h5>

        <ul class="list-unstyled">
          <li>
            <p><i class="fas fa-phone pe-2"></i>+ 전화번호</p>
          </li>
          <li>
            <p><i class="fas fa-envelope pe-2 mb-0"></i>raccoon8542@gmail.com</p>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    소스코드 :
    <a class="text-white" href="https://github.com/seemsblue/pokemon_node_js">github.com</a>
  </div>
  <!-- Copyright -->
</footer>
